/* #region general  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  background-color: snow;
}
/* #endregion general */

/* #region layout */

header {
  margin-top: 4.5rem;
}

section {
  margin-bottom: 5em;
}

h1,
h2 {
  word-spacing: 0.5rem;
}

h1 {
  margin-top: 10rem;
  padding: 2rem;
  border-bottom: 1px solid black;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

a:focus {
  outline: none;
  transition: 0.5s;
  opacity: 0.5;
}

footer {
  background-color: black;
  width: 100%;
}

/* #endregion layout */

@media screen and (max-width: 350px) {
  /* hide main top site navigation */
  footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 140px;
  }

  .footer-nav li a {
    color: white;
    text-decoration: none;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: start;
  }

  .copyright {
    font-size: 1.5rem;
  }
  ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}

/* #region top navigation */

nav {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-bar a {
  display: block;
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  padding: 1em;
  text-decoration: none;
}

.site-nav a:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.site-nav {
  float: right;
  margin-right: 2rem;
}

.logo {
  display: block;
  background-color: black;
  width: 200px;
  padding: 0px;
}

.nav-bar img {
  width: 100%;
  height: auto;
}

/* #endregion top navigation */

/* #region top nav less than 900px */

/* initially hide the hamburger icon and dropdown menu
   on screens with width greater than 900px
  */
#nav-burger,
#drop-menu {
  display: none;
}

/* this is to change the website top navigation for 
  screens with width less than 900px */
@media screen and (max-width: 900px) {
  /* hide main top site navigation */
  .site-nav {
    display: none;
  }

  /* show hamburger icon */
  #nav-burger {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 1rem;
    z-index: 1;
  }

  #nav-burger:hover,
  #drop-menu a:hover {
    opacity: 0.7;
  }

  #drop-menu a {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.3rem;
  }
}
/* #endregion top nav less than */

/* #region bottom navigation */

.footer-nav li {
  list-style-type: none;
  display: inline-block;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.footer-nav a:hover {
  transition: 0.5s;
  opacity: 0.7;
}

/* #endregion bottom navigation */

/* #region social media */
.social-media-nav li {
  display: inline-block;
}

.social-media-nav a :hover {

}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa:hover {
  transition: 0.5s;
  opacity: 0.7;
}

.copyright {
  color: white;
  margin: 0;
  padding: 1rem;
}
/* #endregion social media */
