.showcase {
  right: 0;
  margin: 0%;
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex: 1;

  flex-wrap: wrap;
}

.text-container {
  margin-left: 5rem;
  margin-right: 5rem;
  width: 100%;
  flex: 1;
}

.text {
  width: 100%;
  margin-left: 0.1em;
}

.text h2 {
  margin-top: 0;
  font-size: 7.5rem;
}

.text h3 {
  font-size: 2.5rem;
}

.text p {
  font-size: 1.5rem;
}

.text :hover {
  transition: 1s ease-in;
  letter-spacing: 6px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  width: 50%;
  justify-content: center;
  align-self: flex-end;
  --stagger-delay: 100ms;
  animation: cardEntrance 2s ease-in;
}

.gallery-container > figure {
  transition: transform 2s ease-out;
  width: 20rem;
  height: 20rem;
  margin: 0.7em;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

figure > img {
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
}
.gallery-container > figure:hover {
  transform: scale(1.5);
  z-index: 999;
}

@media screen and (max-width: 300px) {
  /* hide main top site navigation */
  .gallery-container > figure {
    transition: transform 2s ease-out;
    width: 350px;
    height: 250px;
    margin: 0.7em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  figure > img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
  }
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
